In [20]:
import pandas as pd 
import numpy as np 
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt 
df = pd.read_csv('NBASeasonData.csv')
df.head()

,Player,Year,Pos,Age,Tm,G,MP,FG,FGA,3P,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Kareem Abdul-Jabbar*,1980,C,32,LAL,82,38.3,10.2,16.9,0.0,...,5.8,2.3,8.5,10.8,4.5,1.0,3.4,3.6,2.6,24.8
1,Tom Abernethy,1980,PF,25,GSW,67,18.2,2.3,4.7,0.0,...,1.2,0.9,1.9,2.9,1.3,0.5,0.2,0.6,1.8,5.4
2,Alvan Adams,1980,C,25,PHO,75,28.9,6.2,11.7,0.0,...,3.1,2.1,6.0,8.1,4.3,1.4,0.7,2.9,3.2,14.9
3,Tiny Archibald*,1980,PG,31,BOS,80,35.8,4.8,9.9,0.1,...,5.4,0.7,1.7,2.5,8.4,1.3,0.1,3.0,2.7,14.1
4,Dennis Awtrey,1980,C,31,CHI,26,21.5,1.0,2.3,0.0,...,1.9,1.1,3.3,4.4,1.5,0.5,0.6,1.0,2.5,3.3

In [21]:
df.loc[df['Player'].str[-1:] == '*', 'Player'] = df['Player'].str[:-1]
df.loc[df['Pos'] != 'C', 'Pos'] = df['Pos'].str[:2]
df = df.replace('C-', 'C')
df.head()

,Player,Year,Pos,Age,Tm,G,MP,FG,FGA,3P,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Kareem Abdul-Jabbar,1980,C,32,LAL,82,38.3,10.2,16.9,0.0,...,5.8,2.3,8.5,10.8,4.5,1.0,3.4,3.6,2.6,24.8
1,Tom Abernethy,1980,PF,25,GSW,67,18.2,2.3,4.7,0.0,...,1.2,0.9,1.9,2.9,1.3,0.5,0.2,0.6,1.8,5.4
2,Alvan Adams,1980,C,25,PHO,75,28.9,6.2,11.7,0.0,...,3.1,2.1,6.0,8.1,4.3,1.4,0.7,2.9,3.2,14.9
3,Tiny Archibald,1980,PG,31,BOS,80,35.8,4.8,9.9,0.1,...,5.4,0.7,1.7,2.5,8.4,1.3,0.1,3.0,2.7,14.1
4,Dennis Awtrey,1980,C,31,CHI,26,21.5,1.0,2.3,0.0,...,1.9,1.1,3.3,4.4,1.5,0.5,0.6,1.0,2.5,3.3

In [25]:
players = df.Player.unique()

In [26]:
df.tail()

,Player,Year,Pos,Age,Tm,G,MP,FG,FGA,3P,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
20294,Tyler Zeller,2019,C,29,MEM,4,20.5,4.0,7.0,0.0,...,4.5,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
20295,Ante Zizic,2019,C,22,CLE,59,18.3,3.1,5.6,0.0,...,2.2,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
20296,Ivica Zubac,2019,C,21,TOT,59,17.6,3.6,6.4,0.0,...,2.1,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
20297,Ivica Zubac,2019,C,21,LAL,33,15.6,3.4,5.8,0.0,...,2.0,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
20298,Ivica Zubac,2019,C,21,LAC,26,20.2,3.8,7.2,0.0,...,2.3,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

In [48]:
cols = df.columns.values.tolist() + ['PTS2', 'TRB2', 'AST2', 'STL2', 'BLK2']

In [49]:
ovr = []
for player in players:
    df1 = df[df['Player'] == player]
    df1 = df1.drop_duplicates(subset ='Year') 
    df1['PTS2'] = df1['PTS'].shift(-1)
    df1['TRB2'] = df1['TRB'].shift(-1)
    df1['AST2'] = df1['AST'].shift(-1)
    df1['STL2'] = df1['STL'].shift(-1)
    df1['BLK2'] = df1['BLK'].shift(-1)
    df1 = df1.dropna()
    playerdata = df1.values.tolist()
    ovr = ovr + playerdata

In [53]:
import numpy as np
ovr2 = np.array(ovr)
refined = np.reshape(ovr, (-1, 29))

In [54]:
df2 = pd.DataFrame(refined, columns=cols)
df2.head()

,Player,Year,Pos,Age,Tm,G,MP,FG,FGA,3P,...,STL,BLK,TOV,PF,PTS,PTS2,TRB2,AST2,STL2,BLK2
0,Kareem Abdul-Jabbar,1980,C,32,LAL,82,38.3,10.2,16.9,0.0,...,1.0,3.4,3.6,2.6,24.8,26.2,10.3,3.4,0.7,2.9
1,Kareem Abdul-Jabbar,1981,C,33,LAL,80,37.2,10.5,18.2,0.0,...,0.7,2.9,3.1,3.1,26.2,23.9,8.7,3.0,0.8,2.7
2,Kareem Abdul-Jabbar,1982,C,34,LAL,76,35.2,9.9,17.1,0.0,...,0.8,2.7,3.0,2.9,23.9,21.8,7.5,2.5,0.8,2.2
3,Kareem Abdul-Jabbar,1983,C,35,LAL,79,32.3,9.1,15.5,0.0,...,0.8,2.2,2.5,2.8,21.8,21.5,7.3,2.6,0.7,1.8
4,Kareem Abdul-Jabbar,1984,C,36,LAL,80,32.8,9.0,15.5,0.0,...,0.7,1.8,2.8,2.6,21.5,22.0,7.9,3.2,0.8,2.1

In [58]:
len(df2[df2['Tm'] == 'TOT'])/len(df2)

0.0967193734298803

In [59]:
df2.to_csv('NBAFutures1.csv')

In [65]:
test = df[df['Year'] == 2019]
test = test.drop_duplicates(subset ='Player') 
test['PTS2'] = 0
test['TRB2'] = 0
test['AST2'] = 0
test['STL2'] = 0
test['BLK2'] = 0
test.head()

,Player,Year,Pos,Age,Tm,G,MP,FG,FGA,3P,...,STL,BLK,TOV,PF,PTS,PTS2,TRB2,AST2,STL2,BLK2
19591,Alex Abrines,2019,SG,25,OKC,31,19.0,1.8,5.1,1.3,...,0.5,0.2,0.5,1.7,5.3,0,0,0,0,0
19592,Quincy Acy,2019,PF,28,PHO,10,12.3,0.4,1.8,0.2,...,0.1,0.4,0.4,2.4,1.7,0,0,0,0,0
19593,Jaylen Adams,2019,PG,22,ATL,34,12.6,1.1,3.2,0.7,...,0.4,0.1,0.8,1.3,3.2,0,0,0,0,0
19594,Steven Adams,2019,C,25,OKC,80,33.4,6.0,10.1,0.0,...,1.5,1.0,1.7,2.6,13.9,0,0,0,0,0
19595,Bam Adebayo,2019,C,21,MIA,82,23.3,3.4,5.9,0.0,...,0.9,0.8,1.5,2.5,8.9,0,0,0,0,0

In [66]:
test.to_csv('NBAFuturesTest1.csv')

In [ ]:
# find most valuable
# find most improved (diff)

In [ ]:
dummify pos and tm