In [2]:
import pandas as pd 
import numpy as np 
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt 
df = pd.read_csv('5YearPreds.csv')
df.head()

   Unnamed: 0           Player  PTS2  BLK2  STL2  AST2  TRB2  Value  Year
0         188     Aaron Gordon  16.0   0.7   0.7   3.7   7.4  34.63  2019
1         228    Aaron Holiday   5.9   0.3   0.4   1.7   1.3  12.11  2019
2         370      Abdel Nader   4.0   0.2   0.3   0.3   1.9   8.23  2019
3         235       Al Horford  13.6   1.3   0.9   4.2   6.7  34.54  2019
4          12  Al-Farouq Aminu   9.4   0.4   0.8   1.3   7.5  23.95  2019

In [3]:
df = df.drop(['Unnamed: 0'], axis=1)

In [6]:
df = df.rename(index=str, columns={"PTS2": "Points", "BLK2": "Blocks", "STL2": "Steals", "AST2": "Assists", "TRB2": "Rebounds"})
df.head()

            Player  Points  Blocks  Steals  Assists  Rebounds  Value  Year
0     Aaron Gordon    16.0     0.7     0.7      3.7       7.4  34.63  2019
1    Aaron Holiday     5.9     0.3     0.4      1.7       1.3  12.11  2019
2      Abdel Nader     4.0     0.2     0.3      0.3       1.9   8.23  2019
3       Al Horford    13.6     1.3     0.9      4.2       6.7  34.54  2019
4  Al-Farouq Aminu     9.4     0.4     0.8      1.3       7.5  23.95  2019

In [10]:
df.to_json('playerAPI.json')